/* Formatação geral
*************************************/


#container{
    width: 1440px;
    margin: 0 auto;
    font: 16px "Montserrat", Arial, sans-serif;
    margin: 0 auto;
    background: url(../imagens/paginaInicial/AllShapes.svg) no-repeat top;
}

a:link, a:active, a:visited{
    color: black;
    text-decoration: none;
}

/* Logo
**************************************/
#logo h1{
    margin-left: 161px;
    float: left;
}
#logo a{
    width: 170px;
    height: 32px;
    text-indent: -9999px;
    display: block;
    background: url(../imagens/logo/logo@dark.png) no-repeat;
}

/* Barra de navegação
**************************************/
header{
    padding: 15px 0;
    height: 186px;
}

nav ul{
    width: 800px;
    margin: 0 50px;
    list-style: none;
    float: right;
    padding: 10px;
}

nav ul li{
    float: left;
}

nav ul li a:link{
    display: block;
    margin-right: 25px;
    margin-top: 15px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover{
    border-bottom: 3px solid #FF2E63;
}

nav div#botao{
    float: left;
    display: block;
    margin-right: 25px;
    margin-top: 5px;
    padding-bottom: 3px;
    border: none;
}

.botaoLogin{
    width: 100px;
    clear: both;
    margin-left: 50px;
    color: #FFF;
    background-color: #FF2E63;
    border: none;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
}

.botaoLogin:hover{
    background-color: pink;
}

/* Seção inicial
**************************************/

#secaoInicial{
    width: 1440px;
    height: 1024px;
    margin: auto;
    /*background: url(../imagens/paginaInicial/AllShapes.svg);*/
}

.identidadeVisual img{
    width: 460px;
    height: 406px;
    float: right;
    margin: 150px 160px 0 0;
}

section#fraseEfeito{
    float: left;
}

#secaoInicial section#fraseEfeito{
    width: 510px;
    height: 502px;
    margin-top: 170px;
    margin-left: 161px;
}

#secaoInicial section .botaoLogin{
    width: 129;
    height: 46;
    margin-left: 0;
    margin-top: 10px;
}

#secaoInicial section .portfolio{
    margin-top: 13px;
    margin-right: 250px;
}

#secaoInicial div.redesSociais{
    clear: both;
    padding-top: 125px;
}

#secaoInicial div.redesSociais .box img{
    margin-right: 60px;
}

/* Seção sobre
**************************************/

#secaoSobre{
    width: 1440px;
    height: 838px;
    margin: auto;
    background: url(../imagens/sobre/shapes.svg) no-repeat top right;
}

#secaoSobre section#sobre{
    float: left;
    width: 510px;
    height: 600px;
    margin-top: 120px;
    margin-left: 161px;
}

#secaoSobre section .botaoLogin{
    width: 129;
    height: 46;
    margin-left: 0;
    margin-top: 10px;
}

#secaoSobre div.redesSociais{
    clear: both;
    padding-top: 50px;
}

#secaoSobre div.redesSociais .box img{
    margin-right: 60px;
}

/* Seção serviços
**************************************/

#secaoServicos{
    clear: both;
    width: 1440px;
    height: 1024px;
    display : flex;
    margin: auto;
    background: url(../imagens/servicos/shapes.svg) no-repeat top;
}

#secaoServicos section#servicos{
    width: 1440px;
    height: 900px;
}

#secaoServicos section#servicos h1{
    padding-top: 90px;
    padding-left: 161px;
}

/* Card 1
-----------------------------------*/

#secaoServicos section#servicos #card1{
    float: left;
    position: relative;
    width : 348px;
    height : 341px;  
    background-color : black;
    margin-left: 160px;
    margin-top: 180px;
        
    display : flex;
    flex-direction:column;
    border-radius : 30px;
    align-items : center;
    justify-content : center;
}

#secaoServicos section#servicos #card1:hover{
    height: 391px;
}

#secaoServicos section#servicos #card1 img{
    position : relative;
    width : 170px;
    height : 167px;
  
    top : -40%;
    left: 8px;
    z-index : 1;
}

#secaoServicos section#servicos #card1 .cardTxt{
    position : relative;
    top : -50px;
    padding : 10px 15px;
    color : #fff;
    text-align : center;
}

/* Card 2
-----------------------------------*/  

#secaoServicos section#servicos #card2{
    float: right;
    position: relative;
    width : 348px;
    height : 341px;  
    background-color : black;
    margin-right: 550px;
    margin-top: 120px;
        
    display : flex;
    flex-direction : column;
    border-radius : 30px;
    align-items : center;
    justify-content : center;
}

#secaoServicos section#servicos #card2:hover{
    height: 391px;
}

#secaoServicos section#servicos #card2 img{
    position : relative;
    width : 170px;
    height : 167px;
  
    top : -40%;
    left: 8px;
    z-index : 1;
}

#secaoServicos section#servicos #card2 .cardTxt{
    position : relative;
    top : -50px;
    padding : 10px 15px;
    color : #fff;
    text-align : center;
}

/* Card 3
-----------------------------------*/
#secaoServicos section#servicos #card3{
    float: right;
    position: relative;
    width : 348px;
    height : 341px;  
    background-color : black;
    margin-top: -200px;
    margin-right: 170px;
        
    display : flex;
    flex-direction : column;
    border-radius : 30px;
    align-items : center;
    justify-content : center;
}

#secaoServicos section#servicos #card3:hover{
    height: 391px;
}

#secaoServicos section#servicos #card3 img{
    position : relative;
    width : 170px;
    height : 167px;
  
    top : -40%;
    left: 8px;
    z-index : 1;
}

#secaoServicos section#servicos #card3 .cardTxt{
    position : relative;
    top : -50px;
    padding : 10px 15px;
    color : #fff;
    text-align : center;
}

/* Seção portfólio
**************************************/

#secaoPortfolio{
    clear: both;
    width: 1440px;
    height: 1024px;
    margin: auto;
    background: url(../imagens/portfolio/Shapes.svg) no-repeat top;
}

#secaoPortfolio section#portfolio{
    width: 1440px;
    height: 950px;
    border: 1px solid red;
}

#secaoPortfolio section#portfolio h1{
    padding-top: 40px;
    padding-left: 161px;
}

#secaoPortfolio #portfolio div.cardPortfolio1{
    float: left;
    position: relative;
    width : 348px;
    height : 341px;  
    background-color : black;
    margin-left: 160px;
    margin-top: 180px;
        
    display : flex;
    flex-direction:column;
    border-radius : 30px;
    align-items : center;
    justify-content : center;
}

#secaoPortfolio div#cardPortfolio1 .cardPortfolio{
    clear: both;
    width: 500px;
    height: 252px;
    background: #FF2E63;
    border-radius: 30px;
}

#secaoPortfolio div#cardPortfolio1 img{
    width: 252px;
    height: 252px;
    float: left;
    border-right: 5px solid white;
}

#secaoPortfolio section#portfolio #cardPortfolio div.cardTxt{
    position : relative;
    top : -50px;
    padding : 10px 15px;
    color : #fff;
    text-align : center;
}

/* Seção depoimentos
**************************************/

#secaoDepoimentos{
    clear: both;
    width: 1440px;
    height: 1024px;
    margin: auto;
    background: url(../imagens/depoimentos/Shapes.svg) no-repeat bottom left;
}

#secaoDepoimentos section#depoimentos{
    width: 1440px;
    height: 1000px;
    border: 1px solid red;
}

#secaoDepoimentos section#depoimentos h1{
    padding-top: 50px;
    padding-left: 161px;
}

/* Seção contato
**************************************/
#secaoContato{
    clear: both;
    width: 1440px;
    height: 800px;
    margin: auto;
    background: url(../imagens/contato/Shapes\ \(1\).svg) no-repeat top right;
}

#secaoContato section#contato{
    width: 1440px;
    height: 800px;
}

#secaoContato section#contato h1{
    padding-top: 90px;
    padding-left: 161px;
}

#secaoContato div#formulario{
    position:relative;
    float: left;
    border: 1px solid red;
    width: 583px;
    height: 493px;
    margin-left: 161px;
}
#secaoContato div#mapa{
    float: right;
    width: 479px;
    height: 466px;
    margin-right: 161px;
}

/* Rodapé
***************************************/

footer{
    width: 1440px;
    margin: auto;
    clear: both;
    padding: 20px 0 30px 0;
    text-align: center;
    background-color: black;
}
footer p{
    padding-top: 10px;
    color: white;
}

footer div.redesSociais{
    clear: both;
}

footer div.redesSociais .box img{
    margin: 0 30px 0 30px;
}